include CHANGELOG.txt
include CONTRIBUTING.md
include LICENSE
include requirements.txt
include .travis.yml
include .readthedocs.yml
include docs/*
include docs/figures/*
include examples/demo/*
include examples/tutorial/*
include pyratbay/data/*
include pyratbay/data/CIA/*
include src_c/*
include src_c/include/*
include tests/pytest.ini
include tests/*.py
include tests/configs/*.cfg
include tests/expected/*.npz
include tests/filters/*.dat
include tests/inputs/*
include tests/outputs/.gitignore
