[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = opacity

# Atmospheric model:
input_atmfile = WASP-00b.atm

# Wavelength sampling boundaries:
wllow =  1.0 um
wlhigh = 5.0 um
wnstep = 1.0
wnosamp = 2160

# TLI opacity files:
tlifile = ./HITRAN_H2O_0.3-5.0um.tli

# Opacity file name:
extfile = ./exttable_150-3000K_1.0-5.0um.npz
# Opacity-grid temperature boundaries, and sampling rate (in Kelvin degrees):
tmin  =  150
tmax  = 3000
tstep =  150

# Number of CPUs for parallel processing:
ncpu = 7

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
