[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = tli

# List of line-transtion databases:
dblist = ./01_hit12.par

# Type of line-transition database, select from:
# [hitran exomol repack pands tioschwenke voplez]
dbtype = hitran

# List of partition functions for each database:
pflist = tips

# Initial and final wavelength:
wllow  = 0.3 um
wlhigh = 5.0 um

# Output TLI file:
tlifile = ./HITRAN_H2O_0.3-5.0um.tli

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
