[pyrat]

# Pyrat Bay run mode, select from: [tli pt atmosphere spectrum opacity mcmc]
runmode = mcmc

# Atmospheric model:
atmfile  = WASP-00b.atm   ; Input/output atmospheric file

# Cross-section opacity files:
csfile  = ../pyratbay/inputs/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat

# Wavelength sampling options:
wlunits = um
wllow   =  1.0 um ; Spectrum lower boundary (default units: wlunits)
wlhigh  =  5.0 um ; Spectrum higher boundary (default units: wlunits)

# Wavenumber options:
wnunits = cm
wnstep  = 1.0   ; Sampling rate (default units: wnunits)
wnosamp = 2160  ; Wavenumber over-sampling rate

# System parameters:
radunits = km         ; Default distance units
punits   = bar        ; Default pressure units
rstar    = 1.27 rsun  ; Stellar radius (default units: radunits)
rplanet  = 1.0 rjup   ; Planetary radius (default units: radunits)
mplanet  = 0.31 mjup  ; Planetary mass
refpressure = 0.1     ; Reference pressure at rplanet (default units: punits)
tstar    = 5800.0     ; Stellar effective temperature in K
gstar    = 22908.0    ; Stellar surface gravity in cm s-2
smaxis   = 0.045 au   ; Orbital semi-major axis (default units: radunits)

# Filter bandpasses:
filter = ../pyratbay/inputs/filters/tutorial/tutorial_band01.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band02.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band03.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band04.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band05.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band06.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band07.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band08.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band09.dat
         ../pyratbay/inputs/filters/tutorial/tutorial_band10.dat

# Eclipse data:
data =   0.000072  0.000066  0.000078  0.000120  0.000135
         0.000160  0.000196  0.000232  0.000312  0.000344
uncert = 0.000023  0.000021  0.000020  0.000019  0.000018
         0.000017  0.000016  0.000015  0.000014  0.000014

# Kurucz stellar model:
kurucz = ./fp00k2odfnew.pck

# Retrieval abundances:
bulk     = H2 He    ; Bulk (dominant) abundance species
molscale = H2O      ; Variable-abundance species
 
# Temperature-profile model, select from: [isothermal TCEA MadhuInv MadhuNoInv]
tmodel = TCEA

# Retrieval models, select from: [pt rad mol ray haze]
retflag = pt mol

# Fitting parameters:
#         log(kappa) log(g1) log(g2)  alpha  beta  log(fH2O)
params   = -0.6      -0.4     0.0     0.0    1.0      0.0
pmin     = -3.0      -0.9    -1.3     0.0    0.5     -6.0
pmax     =  1.0       1.0     0.7     1.0    1.1      3.0
stepsize =  0.01      0.01    0.0     0.0    0.01     0.01

# MCMC temperature boundaries (merge with tmin/tmax?)
tlow  =  100
thigh = 3000

# MCMC parameters:
walk     = snooker   ; MCMC algorithm, select from: mrw, demc, snooker
nsamples = 50000     ; Total number of MCMC samples
nchains  =     7     ; Number of parallel MCMC chains
burnin   =  1000     ; Burn-in iterations per chain
thinning =     1     ; Chains thinning factor

# Maximum optical depth to calculate:
maxdepth = 10.0

# Observing geometry, select between: [transit eclipse]
path  = eclipse

# Rayleigh models, select from: [lecavelier dw_H2]
rayleigh = lecavelier  ; Lecavelier des Etangs (2008) model
rpars    = 1.0 -4.0    ; [xH2 cross-section, slope]

# Opacity file name and temperature range and step
extfile = ./opacity_100-3000K_1.0-5.0um.dat
tmin    =  100   ; Minimum temperature for grid
tmax    = 3000   ; Maximum temperature for grid
tstep   =  100   ; Temperature step for grid
nproc   =    7   ; Number of parallel processors

# Verbosity level [1--5]:
verb  = 4

# Output file names:
logfile    = ./mcmc_tutorial.log
outspec    = ./mcmc_spectrum_tutorial.dat
