[pyrat]

# Pyrat Bay run mode: [tli atmosphere spectrum opacity retrieval radeq]
runmode = atmosphere

# Log output (also atmospheric file output if output_atmfile is undefined):
logfile = WASP-00b.log

# Pressure at the top and bottom of the atmosphere, and number of layers:
ptop = 1.0e-6 bar
pbottom = 100.0 bar
nlayers = 100

# Temperature-profile model, select from [isothermal guillot madhu]
tmodel = guillot
# log(kappa') log(g1) log(g2) alpha T_irr   T_int
tpars = -6.0  -0.25   0.0     0.0   950.0  100.0

# Chemistry model, select from [uniform tea]
chemistry = tea
# Output atmospheric composition:
species = H He Na H2 H2O CH4 CO CO2 NH3 HCN N2

# Scale elemental abundances (dex units, relative to solar):
# ~3x solar metallicity for everything except H, He
# 10x solar oxygen abundance
# adjust carbon abundance to keep the solar C/O ratio (Asplund+2021)
vmr_vars =
    [M/H] 0.5
    [O/H] 1.0
    C/O   0.59


# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
