[pyrat]

# Pyrat Bay run mode, select from: [tli atmosphere spectrum opacity mcmc]
runmode = spectrum

# Output spectrum file:
specfile = ./emission_spectrum_demo.dat

# Radiative-transer observing geometry, select from: [transit emission]
rt_path = emission

# Input Atmospheric model:
atmfile = ./uniform.atm

# Spectrum boundaries, sampling rate, and oversampling factor:
wllow  = 0.5 um
wlhigh = 5.5 um
wnstep  = 1.0
wnosamp = 2160

# System parameters:
rstar   = 1.0 rsun
rplanet = 1.35 rjup
mplanet = 0.70 mjup
refpressure = 0.1 bar

# Line-by-line opacities:
tlifile = ./HITRAN_H2O_0.5-5.5um.tli
# Cross-section opacities:
csfile =
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2H2_0060-7000K_0.6-500um.dat
    {ROOT}/pyratbay/data/CIA/CIA_Borysow_H2He_1000-7000K_0.5-400um.dat

# Radius-profile model, select from: [hydro_m hydro_g]
radmodel = hydro_m

# Rayleigh models, select from: [lecavelier dalgarno_H dalgarno_He dalgarno_H2]
rayleigh = lecavelier
rpars = 0.0 -4.0

# Alkali models, select from: [sodium_vdw potassium_vdw]
alkali = sodium_vdw potassium_vdw

# Number of parallel processors:
ncpu = 7

# Maximum optical depth to calculate:
maxdepth = 10.0

# Verbosity level (<0:errors, 0:warnings, 1:headlines, 2:details, 3:debug):
verb = 2
